/* Basic reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: inherit;
}
html {
  height: 100%;
  overflow: hidden;
}
body {
  height: 100%;
  width: 100%;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
body > section {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
header {
  background-color: #000;
  color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 45px;
  padding: 0 15px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
header #menu {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: right;
}
header #menu a {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}
/*body:not([data-page="2"]) #page-2{
.graph{
width: 0!important;
}
}*/
.sep {
  border-right: 1px solid #333;
}
.logo {
  font: 800 30px/32px "Dosis";
}
.logo *:first-child {
  color: #ffc000;
}
.logo *:last-child {
  color: #ffffff;
}
/* for each line in the calculator box */
.table {
  display: table;
}
.table,
table {
  width: 100%;
  border-collapse: collapse;
}
.table-row {
  display: table-row;
  overflow: auto;
  width: 100%;
  margin: 5px;
}
.table-cell {
  display: table-cell;
  vertical-align: top;
}
label {
  color: #EEE;
  margin: 20px 0 5px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
}
.table-row:first-child label {
  margin-top: 0;
}
/* Applying same to the keys */
.cbutton {
  box-sizing: border-box;
  overflow: auto;
  float: right;
  cursor: pointer;
  min-width: 40px;
  background: #00b050;
  border: 1px solid #00fd73;
  color: #DDD;
  line-height: 38px;
  text-align: center;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  /* prevent selection of text inside keys */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Smoothing out hover and active states using css3 transitions */
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  height: 40px;
}
.cbutton:hover {
  background: #40bf80;
  color: white;
}
.cbutton:disabled {
  background: #121e18;
  color: #9d9d9d;
  border-color: #9d9d9d;
}
.cbutton.midheight {
  height: 20.5px;
  line-height: 20px;
  overflow: hidden;
}
.buttons-plus-minus-container {
  width: 40px;
  height: 40px;
  overflow: hidden;
  position: relative;
}
.buttons-plus-minus-container .buttons-plus-minus,
.buttons-plus-minus-container .button-padlock {
  position: absolute;
  top: 0;
  height: 40px;
  width: 40px;
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
}
.buttons-plus-minus-container .buttons-plus-minus {
  left: 100%;
}
.buttons-plus-minus-container .button-padlock {
  left: 0;
  background: #2c8454;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.buttons-plus-minus-container.locked .button-padlock {
  background: #00b050;
}
.buttons-plus-minus-container.increment .buttons-plus-minus {
  left: 0;
}
.buttons-plus-minus-container.increment .button-padlock {
  left: -100%;
}
.cvalue {
  width: 100%;
  height: 40px;
  max-width: 100%;
  padding: 0% 4% ;
  background: #DDD;
  /* Typography */
  line-height: 40px;
  color: black;
  text-align: right;
  box-shadow: 0 0 10px 2px transparent;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  outline: none;
}
.cvalue:focus,
.cvalue:focus + div .unit {
  background: #FFF;
}
.cvalue:invalid:not(:focus) {
  color: #ff3333;
}
.cvalue.calculated {
  box-shadow: 0 0 10px 2px #00b050;
  color: #00b050;
}
.unit {
  line-height: 40px;
  height: 40px;
  display: inline-block;
  padding: 0 15px;
  background: #DDD;
  color: #333;
  margin-right: -1px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  margin-left: -1px;
}
.toggle {
  position: relative;
  display: table;
  width: 100%;
  overflow: hidden;
  background: #333;
}
.toggle input {
  display: none;
}
.toggle input ~ label:nth-child(2):after {
  left: 0;
}
.toggle input ~ label:nth-child(3):after {
  right: 100%;
}
.toggle input :checked ~ label:nth-child(2):after {
  left: 100%;
}
.toggle input :checked ~ label:nth-child(3):after {
  right: 0;
}
.toggle label {
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
  position: relative;
  display: table-cell;
  text-align: center;
  padding: 5px;
  z-index: 1;
  overflow: hidden;
}
.toggle label:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: #00b050;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  z-index: -1;
}
.green-emphasis {
  color: #00b050;
}
#basic_data {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #262626;
  height: 100%;
}
/* main box, universal width */
#calculator-padder {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 390px;
      -ms-flex: 0 0 390px;
          flex: 0 0 390px;
  display: block;
}
.calculator-data {
  background: #000000;
  color: #fff;
  margin: 20px;
  padding: 20px;
  text-align: center;
}
#calculator {
  text-align: left;
  overflow: auto;
  display: table;
}
#calculator > .table > .table-row > .table-cell {
  position: relative;
  padding: 0 5px;
}
#calculator > .table > .table-row > .table-cell:nth-child(1) {
  padding: 0;
}
#calculator > .table > .table-row > .table-cell:nth-child(2) {
  padding-left: 0;
  width: 100%;
}
#calculator > .table > .table-row > .table-cell:only-of-type {
  padding-top: 35px;
}
#calculator > .table > .table-row > .table-cell:only-of-type label {
  position: absolute;
  bottom: 0;
  min-width: 100%;
  white-space: nowrap;
}
#graph_1-padder {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: #bfbfbf;
}
#graph_1 {
  margin: 20px;
  padding: 20px;
  background-color: #000000;
}
#graph_1_head .left {
  float: left;
}
#graph_1_head .right {
  float: right;
}
#refund {
  font-size: 24px;
  text-align: center;
}
.selected-text {
  color: #fff;
}
.html-prototype {
  display: none;
}
