/* Basic reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}
html {
  height: 100%;
  overflow: hidden;
}
body {
  height: 100%;
  position: absolute;
  width: 100%;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
body,
body[data-page="1"] {
  bottom: 0;
}
body[data-page="2"] {
  bottom: 100%;
}
.page {
  height: 100%;
  position: relative;
}
.page#page-1 {
  background: #222;
}
.page#page-2 {
  background: #111;
  padding: 56px 10px 0;
  height: 100%;
}
.page#page-2,
.page#page-2 * {
  color: #DDD;
}
body:not([data-page="2"]) #page-2 .graph {
  width: 0!important;
}
.sep {
  border-right: 1px solid #333;
}
.pager-button {
  position: absolute;
  border: 1px solid #111;
  text-align: center;
  background: #2b2b2b;
  padding: 0;
  font-size: 40px;
  color: #111 !important;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.pager-button:disabled {
  opacity: 0;
}
.pager-button.pager-button-bottom {
  bottom: 0;
  height: auto;
}
.pager-button.pager-button-top {
  top: 0;
  height: auto;
}
.pager-button.pager-button-bottom,
.pager-button.pager-button-top {
  width: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
/* main box, universal width */
#calculator {
  overflow: auto;
  width: 350px;
  /*all elements are positionned relative to this value*/
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 20px;
  background: #111;
  display: table;
}
#calculator > .table > .table-row > .table-cell {
  position: relative;
  padding: 0 5px;
}
#calculator > .table > .table-row > .table-cell:nth-child(1) {
  padding: 0;
}
#calculator > .table > .table-row > .table-cell:nth-child(2) {
  padding-left: 0;
  width: 100%;
}
#calculator > .table > .table-row > .table-cell:only-of-type {
  padding-top: 35px;
}
#calculator > .table > .table-row > .table-cell:only-of-type label {
  position: absolute;
  bottom: 0;
  min-width: 100%;
  white-space: nowrap;
}
/* for each line in the calculator box */
.table {
  display: table;
}
.table,
table {
  width: 100%;
  border-collapse: collapse;
}
.table-row {
  display: table-row;
  overflow: auto;
  width: 100%;
  margin: 5px;
}
.table-cell {
  display: table-cell;
  vertical-align: top;
}
label {
  color: #EEE;
  margin: 20px 0 5px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
}
.table-row:first-child label {
  margin-top: 0;
}
/* Applying same to the keys */
.cbutton {
  box-sizing: border-box;
  overflow: auto;
  float: right;
  cursor: pointer;
  min-width: 40px;
  background: #339966;
  border: 1px solid #53c68c;
  color: #DDD;
  line-height: 38px;
  text-align: center;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  /* prevent selection of text inside keys */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Smoothing out hover and active states using css3 transitions */
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  height: 40px;
}
.cbutton:hover {
  background: #40bf80;
  color: white;
}
.cbutton:disabled {
  background: #262626;
  color: #9d9d9d;
  border-color: #9d9d9d;
}
.cbutton.midheight {
  height: 20.5px;
  line-height: 20px;
  overflow: hidden;
}
.buttons-plus-minus-container {
  width: 40px;
  height: 40px;
  overflow: hidden;
  position: relative;
}
.buttons-plus-minus-container .buttons-plus-minus,
.buttons-plus-minus-container .button-padlock {
  position: absolute;
  top: 0;
  height: 40px;
  width: 40px;
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
}
.buttons-plus-minus-container .buttons-plus-minus {
  left: 100%;
}
.buttons-plus-minus-container .button-padlock {
  left: 0;
  background: #666666;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.buttons-plus-minus-container.locked .button-padlock {
  background: #339966;
}
.buttons-plus-minus-container.increment .buttons-plus-minus {
  left: 0;
}
.buttons-plus-minus-container.increment .button-padlock {
  left: -100%;
}
.cvalue {
  width: 100%;
  height: 40px;
  max-width: 100%;
  padding: 0% 4% ;
  background: #DDD;
  /* Typography */
  line-height: 40px;
  color: black;
  text-align: right;
  box-shadow: 0 0 10px 2px transparent;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.cvalue:focus {
  background: #FFF;
}
.cvalue:invalid:not(:focus) {
  box-shadow: 0 0 10px 2px #ff3333;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.cvalue.calculated {
  box-shadow: 0 0 10px 2px #339966;
  color: #339966;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.unit {
  line-height: 40px;
  height: 40px;
  display: inline-block;
  padding: 0 15px;
  background: #eeeeee;
  color: #333;
  margin-right: -1px;
}
.toggle {
  position: relative;
  display: table;
  width: 100%;
  overflow: hidden;
}
.toggle input {
  display: none;
}
.toggle input ~ label:nth-child(2):after {
  left: 0;
}
.toggle input ~ label:nth-child(3):after {
  right: 100%;
}
.toggle input :checked ~ label:nth-child(2):after {
  left: 100%;
}
.toggle input :checked ~ label:nth-child(3):after {
  right: 0;
}
.toggle label {
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
  position: relative;
  display: table-cell;
  text-align: center;
  padding: 5px;
  z-index: 1;
  overflow: hidden;
}
.toggle label:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: #333;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  z-index: -1;
}
.html-prototype {
  display: none;
}
#depreciation_schedule {
  height: 100%;
}
#depreciation_schedule > tbody > tr > td div {
  overflow-y: auto;
  max-height: 645px;
  height: 100%;
}
#depreciation_schedule > tbody > tr > td div table {
  width: 100%;
}
#depreciation_schedule .graph-tab .innerContainer {
  height: 33px;
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
  overflow: hidden;
  padding: 5px 0;
  position: relative;
  z-index: 1;
}
#depreciation_schedule td:first-child p {
  display: inline-block;
  white-space: nowrap;
}
#depreciation_schedule .graph {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
#depreciation_schedule .loan-paid-graph {
  right: 0;
}
#depreciation_schedule .interests-paid-graph {
  left: 0;
}
#depreciation_schedule .graph {
  display: inline-block;
  height: 100%;
}
#depreciation_schedule td {
  padding: 5px 0;
}
#depreciation_schedule td span {
  white-space: nowrap;
}
#depreciation_schedule td #depreciation_schedule-inner:nth-child(2),
#depreciation_schedule td #depreciation_schedule-inner:nth-child(3) {
  width: 50%;
}
#depreciation_schedule td:nth-child(2) {
  text-align: right;
}
#depreciation_schedule td:nth-child(2) span {
  padding-right: 5px;
}
#depreciation_schedule td:nth-child(2) .graph {
  margin-left: 15px;
  box-shadow: 0 0 0 0 #3D9CCC;
  background: #3D9CCC;
}
#depreciation_schedule td:nth-child(3) {
  text-align: left;
}
#depreciation_schedule td:nth-child(3) span {
  padding-left: 5px;
}
#depreciation_schedule td:nth-child(3) .graph {
  margin-right: 15px;
  box-shadow: 0 0 0 0 #C9492C;
  background: #C9492C;
}
#depreciation_schedule[data-display-mode="yearly"] .graph-monthly td {
  padding: 0;
}
#depreciation_schedule[data-display-mode="yearly"] .graph-monthly .innerContainer {
  height: 0;
  padding: 0;
}
#depreciation_schedule[data-display-mode="monthly"] .graph-yearly td {
  padding: 0;
}
#depreciation_schedule[data-display-mode="monthly"] .graph-yearly .innerContainer {
  height: 0;
  padding: 0;
}
