/* Basic reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  /* Better text styling */
  font: 20px Verdana, sans-serif;
}
html {
  height: 100%;
  overflow: hidden;
}
body {
  height: 100%;
  position: absolute;
  width: 100%;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
body,
body[data-page="1"] {
  bottom: 0;
}
body[data-page="2"] {
  bottom: 100%;
}
.page {
  height: 100%;
  position: relative;
}
.page#page-1 {
  background: #222;
}
.page#page-2 {
  background: #111;
  padding: 48px 10px 0;
}
.page#page-2,
.page#page-2 * {
  color: #DDD;
}
.sep {
  border-right: 1px solid #333;
}
.graph-tab td .graph {
  display: inline-block;
  height: 100%;
}
.graph-tab td:nth-child(2) {
  text-align: right;
  width: 33%;
}
.graph-tab td:nth-child(2) .graph {
  margin-left: 15px;
  box-shadow: 0 0 5px 1px #0000cc;
  background: #0000cc;
}
.graph-tab td:nth-child(3) {
  text-align: left;
  width: 33%;
}
.graph-tab td:nth-child(3) .graph {
  margin-right: 15px;
  box-shadow: 0 0 5px 1px #cc0000;
  background: #cc0000;
}
.pager-button {
  position: absolute;
  border: 1px solid #111;
  text-align: center;
  background: #2b2b2b;
  padding: 0;
  font-size: 40px;
  color: #111 !important;
}
.pager-button:disabled {
  opacity: 0;
}
.pager-button.pager-button-bottom {
  bottom: 0;
  height: auto;
}
.pager-button.pager-button-top {
  top: 0;
  height: auto;
}
.pager-button.pager-button-bottom,
.pager-button.pager-button-top {
  width: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
/* main box, universal width */
#calculator {
  overflow: auto;
  width: 350px;
  /*all elements are positionned relative to this value*/
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 20px;
  background: #111;
  display: table;
}
/* for each line in the calculator box */
.table {
  display: table;
}
.table,
table {
  width: 100%;
  border-collapse: collapse;
}
.table-row {
  display: table-row;
  overflow: auto;
  width: 100%;
  margin: 5px;
}
.table-cell {
  display: table-cell;
  vertical-align: top;
}
.table-cell:first-child {
  width: 100%;
}
label {
  color: #EEE;
  margin: 20px 0 5px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
}
.table-row:first-child label {
  margin-top: 0;
}
/* Applying same to the keys */
.cbutton {
  overflow: auto;
  float: right;
  cursor: pointer;
  min-width: 40px;
  height: auto;
  background: #339966;
  color: #DDD;
  line-height: 40px;
  text-align: center;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  /* prevent selection of text inside keys */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Smoothing out hover and active states using css3 transitions */
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.cbutton:hover {
  background: #40bf80;
  color: white;
}
.cbutton:disabled {
  background: #262626;
}
.midheight {
  height: 20px;
  line-height: 20px;
  overflow: hidden;
}
.cvalue {
  width: 100%;
  height: 40px;
  max-width: 100%;
  padding: 0% 4% ;
  background: #DDD;
  /* Typography */
  line-height: 40px;
  color: black;
  text-align: right;
  box-shadow: 0 0 10px 2px transparent;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.cvalue:focus {
  background: #FFF;
}
.cvalue:invalid:not(:focus) {
  box-shadow: 0 0 10px 2px #ff3333;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.cvalue.calculated {
  box-shadow: 0 0 10px 2px #339966;
  color: #339966;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.unit {
  line-height: 40px;
  height: 40px;
  background: #fff;
  display: inline-block;
  padding: 0 15px;
  background: #eeeeee;
  margin-right: -1px;
}
