/* Basic reset */
* {
    margin: 0;
    padding: 0;
    border : 0;
    box-sizing: border-box;
    font-size: inherit;
}

@green: rgb(0,176,80);
@darkgrey: rgb(38,38,38);
@text_unselected: rgb(191,191,191);

@capital_unselected: rgb(41,118,157);
@capital_selected: rgb(61,156,204);

@interests_unselected: rgb(151,55,33);
@interests_selected: rgb(201,73,44);

@insurances_unselected: rgb(162,105,33);
@insuraces_selected: rgb(213,140,46);



html {
    height: 100%;
    overflow: hidden;
}
body{
    height: 100%;
    width: 100%;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;

    & > section{
        flex: 1 1 auto;
        overflow: auto;
    }
}
header{
    background-color: #000;
    color:#ffffff;
    display: flex;
    flex-direction: row;
    height: 45px;
    padding: 0 15px;
    flex:0 0 auto;
    align-items: center;

    #menu{
        flex: 1 1 auto;
        text-align: right;

        a{
            padding: 10px;
            color:inherit;
            text-decoration: none;
        }
    }
}
/*body:not([data-page="2"]) #page-2{
.graph{
width: 0!important;
}
}*/

.sep{
    border-right: 1px solid #333;
}

.logo {
    font: 800 30px/32px "Dosis";

    *:first-child{
        color: rgb(255,192,0)
    }
    *:last-child{
        color: #ffffff;
    }
}

/* for each line in the calculator box */
.table{
    display: table;
}
.table,table{
    width: 100%;
    border-collapse: collapse;
}
.table-row {
    display: table-row;
    overflow: auto;
    width: 100%;
    margin: 5px;
}
.table-cell{
    display: table-cell;
    vertical-align: top;

}

label{
    color: #EEE;
    margin: 20px 0 5px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
}
.table-row:first-child label{
    margin-top: 0;
}

/* Applying same to the keys */
.cbutton {
    @buttonTextColor: #DDD;
    box-sizing: border-box;
    overflow: auto;
    float: right;

    cursor: pointer;

    min-width: 40px;

    background: @green;
    border: 1px solid lighten(@green, 15%);
    color: @buttonTextColor;

    line-height: 38px;
    text-align: center;
    transition: all 1s ease;

    /* prevent selection of text inside keys */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* Smoothing out hover and active states using css3 transitions */
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;

    height: 40px;

    &:hover {
        background: #40bf80;
        color: white;
    }
    &:disabled {
        background: darken(desaturate(@green, 75%),25%);
        color:darken(desaturate(@buttonTextColor, 75%),25%);
        border-color:darken(desaturate(@buttonTextColor, 75%),25%);
    }
    &.midheight{
        height: 20.5px;
        line-height: 20px;
        overflow: hidden;
    }
}
.buttons-plus-minus-container{
    width: 40px;
    height: 40px;
    overflow: hidden;
    position: relative;

    .buttons-plus-minus, .button-padlock{
        position: absolute;
        top:0;
        height: 40px;
        width: 40px;
        transition: left 0.5s;
    }
    .buttons-plus-minus{
        left: 100%;
    }
    .button-padlock{
        left: 0;
        background: desaturate(@green, 50%);
        transition: all 0.5s;
    }

    &.locked{
        .button-padlock{
            background: @green;
        }
    }
    &.increment{
        .buttons-plus-minus{
            left: 0;
        }
        .button-padlock{
            left: -100%;
        }
    }
}

.cvalue{
    width: 100%;
    height: 40px;
    max-width: 100%;

    padding: 0% 4% ;

    background: #DDD;

    /* Typography */
    line-height: 40px;
    color: black;
    text-align: right;
    box-shadow:0 0 10px 2px transparent;
    transition: 0.5s all;
    outline: none;

    &:focus{

        &,& + div .unit{
            background: #FFF; 
        }
    }
    &:invalid:not(:focus){ 
        color:#ff3333;
        //        box-shadow:0 0 10px 2px #ff3333;
    }
    &.calculated{
        box-shadow:0 0 10px 2px @green;
        color:@green;
    }
}
.unit{
    line-height: 40px;
    height: 40px;
    display: inline-block;
    padding: 0 15px;
    background: #DDD;
    color:#333;
    margin-right: -1px;// Ensure to cover border gap
    transition: 0.5s all;
    margin-left: -1px;
}

.toggle{
    position: relative;
    display: table;
    overflow: hidden;
    background: #333;
    cursor:pointer;
    
    *{
        cursor: inherit;
    }
    input{
        display: none;

        ~ label{
            &:nth-child(2){
                &:after{
                    left:0;
                }
            }
            &:nth-child(3){
                &:after{
                    right:100%;
                }
            }
        }
        :checked ~ label{
            &:nth-child(2){
                &:after{
                    left:100%;
                }
            }
            &:nth-child(3){
                &:after{
                    right:0;
                }
            }
        }
    }
    label{
        position: relative;
        display: table-cell;
        text-align: center;
        padding: 5px;
        z-index: 1;
        overflow: hidden;

        &:after{
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top:0;
            background: @green;
        transition: 0.25s all
            z-index: -1;
        }
    }
}
.green-emphasis{
    color:@green;
}






#basic_data{
    display: flex;
    flex-direction: row;
    background-color: @darkgrey;
    min-height: 100%;
}
/* main box, universal width */
#calculator-padder{
    flex: 0 0 390px;
    display: block;
}
.calculator-data{
    background: #000000;
    color:#fff;
    margin:20px;
    padding: 20px;
    text-align: center;
}
#calculator {
    text-align: left;
    overflow: auto;
    display: table;

    > .table > .table-row{
        > .table-cell{
            position: relative;
            padding: 0 5px;

            &:nth-child(1){
                padding: 0;
            }
            &:nth-child(2){
                padding-left: 0;
                width: 100%;
            }
            &:only-of-type{
                padding-top: 35px;

                label{
                    position: absolute;
                    bottom: 0;
                    min-width: 100%;
                    white-space: nowrap;
                }
            }
        }
    }
}
#graph_1-padder{
    flex: 1 1 auto;
    color:@text_unselected;
}
#graph_1{
    margin: 20px;
    padding: 20px;
    background-color: #000000;

    .top-lined{
        border-top: 1px solid @text_unselected;
    }
    .line{
        display: flex;
        flex-direction: row;
        width: 100%;
        .left {
            text-align: left;
            flex: 1 1 0;
        }
        .right {
            text-align: right;
            flex: 1 1 0;
        }
    }
}
#graph_1-scroll_area{
    display: flex;
    flex-direction: row;
    width: 100%;
}
#graph_1-scroll_bar{
    flex: 0 0 40px;
    position: relative;
}
#graph_1-scroll_cursor{
    min-height: 35px;
    width: 20px;
    margin: 5px auto;
    background-color: @green;
    border: 1px solid @text_unselected;
    position: relative;
    z-index: 10;
}
#graph_1-scroll_line{
    position: absolute;
    left: 50%;
    right: 50%;
    top:2px;
    bottom: 2px;
    margin-left: -1px;
    border: 1px solid @text_unselected;
}
#graph_1-body_scroll{
    flex: 1 1 auto;
}
#toggle-year_month{
    display: inline-block;
}

#refund{
    font-size: 24px;
    text-align: center;
}
.selected-text{
    color:#fff;
}
.html-prototype{
    display: none;
}
